* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: var(--bg-dark);
    color: var(--slate-300);
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    line-height: 1.5;
}

.logo {
    width: 7rem;
}